
.todosContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.todo{
    flex-grow: 1;
    border: 1px solid;
    max-height: 100px;
    padding: 10px;
    margin: 10px;
    user-select: none;
}
.todo:hover{
    opacity: 0.85;
    cursor: pointer;
}

p{
    margin: 0;
    font-size: calc(10px + 1vw);
}