
.todosContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.todo{
    flex-grow: 1;
    border: 1px solid;
    max-width: 200px;
    max-height: 200px;
    padding: 30px;
    margin: 10px;
}

p{
    margin: 0;
    font-size: calc(10px + 1vw);
}